.my-header {
  display: flex;
  justify-content: center;
  font-size: 4pc;
  font-weight: bold;
  font-family: monospace;
}

.upper {
  display: flex;
  justify-content: space-around;
  font-weight: 900;
  margin-bottom: 0px;
}
.upper p{
  margin-bottom: 4px;
}
.adj {
  margin: 4px 4px;
}